<% extend('layout') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=title%></title>
</head>
<body>
    <main>
        <p>This is the homepage. You can navigate to other pages from here.</p>
        <a href="/rooms">Meeting Rooms</a>
        <br>
        <a href="/reservations">Manage Reservations</a>
    </main>
</body>
</html>