<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css">
</head>
<body>
    <header>
        <h1>Welcome to our Meeting Room App</h1>
    </header>
    <main>
        <%- content %>
    </main>
</body>
</html>